<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link href="../../src/css/header.css" rel="stylesheet"> -->
    <link href="header.css" rel="stylesheet" />
    <link href="../../src/css/reset.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/edda6de607.js"
      crossorigin="anonymous"
    ></script>
    <script src="header.js" type="module"></script>

    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=89c94138aac3b434362c7179cb6bc993"
    ></script>

    <style>
      body {
        background-color: #f2f5f6;
      }
    </style>
  </head>
  <!-- header만 만들면 된다. -->
  <body>
    <header class="header">
      <header class="header">
        <div class="logo">
          <div class="logo__cover">
            <div class="logo__square">
              <div class="logo__circle1"></div>
              <div class="logo__circle2"></div>
            </div>
          </div>
        </div>
        <nav class="nav">
          <ul class="nav__item-wrapper">
            <a href="../../src/html/apartment.html">
              <li class="nav__item active">아파트</li>
            </a>
            <a href="../../src/html/villa.html">
              <li class="nav__item">빌라 · 투룸</li>
            </a>
            <a href="../../src/html/oneRoom.html">
              <li class="nav__item">원룸</li>
            </a>
            <a href="../../src/html/apartment.html">
              <li class="nav__item">오피스텔</li>
            </a>
          </ul>
        </nav>
        <div class="empty-space"></div>
        <div class="search">
          <label for="search__input" class="search__label"
            ><i class="fa-solid fa-magnifying-glass"></i
          ></label>
          <input
            type="text"
            name="search__input"
            id="search__input"
            class="search__input"
            placeholder="search..."
          />
          <div class="search__list">
            <div class="search__list__item">구의동</div>
            <div class="search__list__item">구의동구의동구의동구의동구의동</div>
            <div class="search__list__item">
              구의동구의동구의동구의동구의동구의동구의동구의동
            </div>
            <div class="search__list__item">
              구의동구의동구의동구의동구의동구의동구의동구의동구의동구의동
            </div>
            <div class="search__list__item">
              구의동구의동구의동구의동구의동구의동구의동구의동구의동구의동
            </div>
            <div class="search__list__item">
              구의동구의동구의동구의동구의동구의동구의동구의동구의동구의동
            </div>
          </div>
        </div>
        <div class="user user--not-login">
          <div class="user__login-btn">로그인</div>
          <div class="user__sign-up-btn">가입</div>
        </div>
        <div class="user user--login">
          <div class="user__name">황병준</div>

          <div class="user__img">
            <img
              src="https://a5.behance.net/b30af4bb8b221c953db3e5940a5bceae7b07d62d/img/profile/no-image-115.png?cb=264615658"
            />
          </div>
        </div>
        <button style="opacity: 0; cursor: pointer; border: none">c</button>
      </header>
    </header>

    <script>
      // 로그인 전, 후 를 만들기위해 간단하게 change 버튼을 만듬
      // 상단 우측에 투명하게 숨어있다.
      const btn = document.querySelector("button");
      btn.addEventListener("click", (e) => {
        const loggedIn = document.querySelector(".user--login");
        const notLoggedIn = document.querySelector(".user--not-login");
        loggedIn.style.display = "flex";
        notLoggedIn.style.display = "none";
      });
    </script>
  </body>
</html>
