:root {
    --Black: #07364e;
    --secondary: #b3bfdb;
    --disabled: #f2f5f6;
    --primary: #3c5cff;
    --accent1: #00bfb3;
    --accent2: #ff8959;
    --accent3: #ff5989;
    --gr1_1: #4c3aff;
    --gr1_2: #5c10ff;
    --gr2_1: #00f2ff;
    --gr2_2: #099df8;
    --gr3_1: #d388ef;
    --gr3_2: #f6639e;
}

.header {
    display: flex;
    /* justify-content: space-around; */
    /* width: calc( 100% - 10px); */
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding-top: 0;
    padding-right: 10px;
    box-sizing: content-box;
    /* padding-bottom: 10px; */
    padding-left: 10px;

    border-bottom: 1px solid var(--Black);
}

.logo {
    position: relative;
    width: 60px;
    height: 100%;
    /* border: 1px solid red; */
    /* transform: scale(0.8); */
}

.logo__cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    /* background: linear-gradient(to bottom right, rgb(189, 189, 189),var(--primary)); */
    background: var(--primary);
    border-radius: 9999px;
    
}

.logo__square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(65deg);
    border-radius: 5px;
    width: 25px;
    height: 25px;
    background-color: var(--disabled);
}

.logo__circle1 {
    position: absolute;
    top: 14px;
    left: 4px;
    width: 7px;
    height: 7px;
    border-radius: 100px;
    background-color: var(--primary);
}

.logo__circle2 {
    position: absolute;
    top: 3px;
    left: 12px;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: var(--primary);
}

.nav {
    flex-grow: 1;
}

.nav__item-wrapper {
    display: flex;
}

.nav {
    background-color: red;
    transition: .5s;
}

.nav__item-wrapper {
    
}

.login {
    width: 100px;
}

.main {
    display: flex;
}

#map {
    width: 100%;
    height: 50vh;
}