<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Custom Right Click Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://kit.fontawesome.com/edda6de607.js" crossorigin="anonymous"></script>
    <script src="./contextMenu.js" type="module"></script>
    <link rel="stylesheet" href="./contextMenu.css"></link>
  </head>
  <body>  
    <div class="context-menu-wrapper" > 
        <ul class="context-menu"> 
            <li>
                <div class="context-menu_cover">
                    <p><i class="fa-solid fa-martini-glass"></i></p>
                </div>
            </li> 
            <li>
                <div class="context-menu_cover">
                    <p><i class="fa-solid fa-mug-saucer"></i></p>
                </div>
            </li> 
            <li>
                <div class="context-menu_cover">
                    <p><i class="fa-solid fa-heart"></i></p>
                </div>
            </li> 
            <li>
                <div class="context-menu_cover">
                    <p><i class="fa-solid fa-book"></i></p>
                </div>
            </li> 
            <li>
                <div class="context-menu_cover">
                    <p><i class="fa-solid fa-burger"></i></p>
                </div>
            </li> 
            <li>
                <div class="context-menu_cover">
                    <p><i class="fa-solid fa-basket-shopping"></i></p>
                </div>
            </li> 
            <li>
                <div class="context-menu_cover">
                    <p><i class="fa-solid fa-dumbbell"></i></p>
                </div>
            </li> 
            <li>
                <div class="context-menu_cover">
                    <p><i class="fa-solid fa-train-subway"></i></p>
                </div>
            </li> 
        </ul> 
    </div> 
  </body>
</html>