:root {
    --black: #07364e;
    --secondary: #b3bfdb;
    --disabled: #f2f5f6;
    --primary: #3c5cff;
    --accent1: #00bfb3;
    --accent2: #ff8959;
    --accent3: #ff5989;
    --gr1_1: #4c3aff;
    --gr1_2: #5c10ff;
    --gr2_1: #00f2ff;
    --gr2_2: #099df8;
    --gr3_1: #d388ef;
    --gr3_2: #f6639e;
}

html {
    width: 100%;
    height: 100%;
    background-color: var(--disabled);
}

body {
    -ms-overflow-style: none;
}
    
::-webkit-scrollbar {
    display: none;
}

main {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.main-top {
    width: 100%;
    height: 100px;
    border:1px solid #00bfb3;
}

.option {
    border: 1px solid red;
}

.main-middle {
    display: flex;
    height: calc(100vh - 170px);
    padding-left: 10px;
}

.map-wrapper {
    width: 80%;
    height: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.map {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 4px 4px 1px 1px #e9eaf3;
}

.card {
    flex-grow: 1;
    height: 100%;
    overflow: scroll;
    /* overflow-y: hidden; */
}


.card-li {
    display: flex;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
    box-shadow: 4px 4px 1px 1px #e9eaf3;
}

.card-text {
    width: 100px;
    height: 100%;
    border: 1px solid red;
}

.card-image {
    width: 100px;
    height: 90%;
    border: 1px solid red;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}