<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="detail.css" />
    <script
      src="https://kit.fontawesome.com/08153837f8.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="detail-box">
      <!-- 픽스로 맨 위에 붙여, 안보이다가 스크롤 내려지는 순간 보이게 -->
      <div class="detail__header">강남구 논현동</div>
      <div class="detail__image-box">
        <img class="detail__image" src="https://source.unsplash.com/random" />
      </div>
      <div class="detail__basic">
        <div class="basic__top">
          <div class="detail__text--07r">서울시 강남구 논현동</div>
          <div class="detail__text--14r detail__text--bold">월세 200/140</div>
          <div class="detail__text--07r">관리비 10만원</div>
        </div>
        <br />

        <div class="basic__bottom">
          <div class="detail__title detail__text--09r">★어쩌구~</div>
          <div class="detail__text">
            <i class="fa-solid fa-expand"></i></i>전용 12평
          </div>
          <div class="detail__text"><i class="fa-solid fa-house"></i>복층형 원룸(욕실 1개)</div>
          <div class="detail__text">
            <i class="fa-brands fa-product-hunt"></i>세대당 1대 주차 가능
          </div>
          <div class="detail__text">
            <i class="fa-regular fa-building"></i>3층/4층
          </div>
          <div class="detail__text">
            <i class="fa-regular fa-calendar"></i>즉시 입주 가능
          </div>
        </div>
      </div>
      <br />
      <div class="detail__manage">
        <div class="detail__text--11r detail__text--bold">관리비 : 10만원</div>
        <div class="detail__text--09r">포함 : 없음</div>
        <div class="detail__manage-not-inc detail__text--09r">
          별도 : 전기, 가스, 수도, 인터넷, 티비
        </div>
      </div>
      <br />
      <!-- data 받아와서 수만큼 div 생성 -->
      <div class="detail__option">
        <div>싱크대 </div>
        <div>에어컨 </div>
        <div>신발장 </div>
        <div>세탁기</div>
    </div>
      <br />
      <div class="detail__description">
        ★어쩌구
        <button class="view-more">더보기</button>
      </div>
      <br />
      <div class="detail__location">
        <div class="detail__address--short">강남구 논현동</div>
        <div class="detail__map-image"></div>
      </div>
      <br />
      <div class="detail__realtor">
        <div class="detail__agent-box">
          <div class="agent__image"></div>
          <div class="agent__realtor-name"></div>
          <div class="agent__name"></div>
          <div class="agent__phone"></div>
          <!-- agent-box에 hover하면 배경 검어지고, 이름과 전화번호 띄우기 -->
        </div>
        <div class="detail__realtor-description"></div>
        <button class="view-more">더보기</button>
      </div>
    </div>
    <!-- <div class="detail-bottom">
      <div class="detail-bottom__text-box">
        <div class="detail__price detail__price--short">월세200/140</div>
        <div class="detail__manage-cost detail__manage-cost--short">
          관리비 10만원
        </div>
      </div>
      <div class="detail-btn-box">
        <button class="inquire">문의하기</button>
      </div>
    </div> -->
  </body>
</html>
