<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- 폰트어썸 -->
    <script src="https://kit.fontawesome.com/edda6de607.js" crossorigin="anonymous"></script>

    <!-- kakao map -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=89c94138aac3b434362c7179cb6bc993"></script>
    <script src="../../src/js/header.js" type="module"></script>
    <script src="../../src/js/contextMenu.js" type="module"></script>
    <script src="../../src/js/main.js" type="module"></script>

    <link rel="stylesheet" href="../../src/css/contextMenu.css">
    <link rel="stylesheet" href="../../src/css/reset.css">
    <link rel="stylesheet" href="../../src/css/header.css">
    <link rel="stylesheet" href="main.css">

</head>
<body>
    <header class="header">
        <header class="header">
            <div class="logo">
                <div class="logo__cover">
                    <div class="logo__square">
                        <div class="logo__circle1"></div>
                        <div class="logo__circle2"></div>
                    </div>
                </div>
            </div>
            <nav class="nav">
                <ul class="nav__item-wrapper">
                    <a href="../../src/html/apartment.html">
                        <li class="nav__item active">아파트</li>
                    </a>
                    <a href="../../src/html/villa.html">
                        <li class="nav__item">빌라 · 투룸</li>
                    </a>
                    <a href="../../src/html/oneRoom.html">
                        <li class="nav__item">원룸</li>
                    </a>
                    <a href="../../src/html/apartment.html">
                        <li class="nav__item">오피스텔</li>
                    </a>
                </ul>
            </nav>
            <div class="empty-space"></div>
            <div class="search">
                <label for="search__input" class="search__label"><i class="fa-solid fa-magnifying-glass"></i></label>
                <input type="text"
                       name="search__input"
                       id="search__input"
                       class="search__input"
                       placeholder="search...">
                <div class="search__expand">
                    <div class="search__expand__item">구의동</div>
                    <div class="search__expand__item">구의동구의동구의동구의동구의동</div>
                    <div class="search__expand__item">구의동구의동구의동구의동구의동구의동구의동구의동</div>
                    <div class="search__expand__item">구의동구의동구의동구의동구의동구의동구의동구의동구의동구의동</div>
                    <div class="search__expand__item">구의동구의동구의동구의동구의동구의동구의동구의동구의동구의동</div>
                    <div class="search__expand__item">구의동구의동구의동구의동구의동구의동구의동구의동구의동구의동</div>
                </div>
            </div>
            <div class="user user--not-login">
                <div class="user__login-btn">로그인</div>
                <div class="user__sign-up-btn">가입</div>
            </div>
            <div class="user user--login">
                <div class="user__name">
                    황병준
                </div>
            
                <div class="user__img">
                    <img src="https://a5.behance.net/b30af4bb8b221c953db3e5940a5bceae7b07d62d/img/profile/no-image-115.png?cb=264615658">
                </div>
            </div>
            <button style="opacity: 0; cursor:pointer; border: none;">c</button>
        </header>
    </header>
    <main>
        <div class="main-top">
            <div class="option">
                <select name="면적">
                    <option value="전체">==면적선택==</option>
                    <option value="전체">전체</option>
                    <option value="10평 이하">10평 이하</option>
                    <option value="10평대">10평대</option>
                    <option value="20평대">20평대</option>
                    <option value="30평대">30평대</option>
                    <option value="40평대">40평대</option>
                    <option value="50평대">50평대</option>
                    <option value="60평대">60평대</option>
                    <option value="60평대 이상">60평대 이상</option>
                    
                </select>
                <select name="준공년도">
                    <option value="">==준공년도==</option>
                    <option value="">전체</option>
                    <option value="">5년 이내</option>
                    <option value="">10년 이내</option>
                    <option value="">15년 이내</option>
                    <option value="">20년 이내</option>
                    <option value="">25년 이내</option>
                </select>
                <select>
                    <option value="">===세대수===</option>
                    <option value="">전체</option>
                    <option value="">200세대 이상</option>
                    <option value="">500세대 이상</option>
                    <option value="">1000세대 이상</option>
                    <option value="">2000세대 이상</option>
                </select>
                
            </div>
        </div>

        <div class="main-middle">
            <!-- 지도 -->
            <div class="map-wrapper">
                <div class="map">

                </div>
            </div>

            <!-- 매물 card -->
            <div class="card">
                <ul>
                    <li class="card-li">
                        <div class="card-text">
                            <p>월세</p>
                            <p>평수</p>
                            <p>주소(동까지)</p>
                            <p>매물 설명</p>
                        </div>
                        <div class="card-image">
                            <img src="https://ic.zigbang.com/ic/items/33724732/1.jpg?w=400&h=300&q=70&a=1" alt="">
                        </div>
                        
                    </li>
                    <li class="card-li"></li>
                    <li class="card-li"></li>
                    <li class="card-li"></li>
                    
                </ul>
            </div>

            <!-- 컨텍스트 메뉴 -->
            <div class="context-menu-wrapper" > 
                <ul class="context-menu"> 
                    <li class="context-menu__item">
                        <div class="context-menu_cover">
                            <p><i class="fa-solid fa-martini-glass"></i></p>
                        </div>
                    </li> 
                    <li class="context-menu__item">
                        <div class="context-menu_cover">
                            <p><i class="fa-solid fa-mug-saucer"></i></p>
                        </div>
                    </li> 
                    <li class="context-menu__item">
                        <div class="context-menu_cover">
                            <p><i class="fa-solid fa-heart"></i></p>
                        </div>
                    </li> 
                    <li class="context-menu__item">
                        <div class="context-menu_cover">
                            <p><i class="fa-solid fa-book"></i></p>
                        </div>
                    </li> 
                    <li class="context-menu__item">
                        <div class="context-menu_cover">
                            <p><i class="fa-solid fa-burger"></i></p>
                        </div>
                    </li> 
                    <li class="context-menu__item">
                        <div class="context-menu_cover">
                            <p><i class="fa-solid fa-basket-shopping"></i></p>
                        </div>
                    </li> 
                    <li class="context-menu__item">
                        <div class="context-menu_cover">
                            <p><i class="fa-solid fa-dumbbell"></i></p>
                        </div>
                    </li> 
                    <li class="context-menu__item">
                        <div class="context-menu_cover">
                            <p><i class="fa-solid fa-train-subway"></i></p>
                        </div>
                    </li> 
                </ul> 
            </div> 
        </div>
        
    </main>

   
</body>
</html>