<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- 폰트어썸 -->
    <script src="https://kit.fontawesome.com/edda6de607.js" crossorigin="anonymous"></script>

    <!-- kakao map -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=89c94138aac3b434362c7179cb6bc993"></script>
    <script src="../../src/js/header.js" type="module"></script>
    <script src="../../src/js/contextMenu.js" type="module"></script>
    <script src="../../src/js/main.js" type="module"></script>

    <link rel="stylesheet" href="../../src/css/contextMenu.css">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="../../src/css/header.css">
    <link rel="stylesheet" href="main.css">

</head>
<body>
    <header class="header">
        <div class="logo">
            <div class="logo__cover">
                <div class="logo__square">
                    <div class="logo__circle1"></div>
                    <div class="logo__circle2"></div>
                </div>
            </div>
        </div>
        <nav class="nav">
            <ul class="nav__item-wrapper">
                <li class="nav__item">
                    <p>아파트</p>
                </li>
                <li class="nav__item">
                    <p>빌라 · 투룸</p>
                </li>
                <li class="nav__item">
                    <p>원룸</p>
                </li>
                <li class="nav__item">
                    <p>오피스텔</p>
                </li>
            </ul>
        </nav>
        <div class="empty-space"></div>
        <div class="search">
            <label for="search__input" class="search__label"><i class="fa-solid fa-magnifying-glass"></i></label>
            <input type="text"
                   name="search__input"
                   id="search__input"
                   class="search__input"
                   placeholder="search...">
            <div class="search__expand">
                <div class="search__expand__item">구의동</div>
                <div class="search__expand__item">구의동구의동구의동구의동구의동</div>
                <div class="search__expand__item">구의동구의동구의동구의동구의동구의동구의동구의동</div>
                <div class="search__expand__item">구의동구의동구의동구의동구의동구의동구의동구의동구의동구의동</div>
                <div class="search__expand__item">구의동구의동구의동구의동구의동구의동구의동구의동구의동구의동</div>
                <div class="search__expand__item">구의동구의동구의동구의동구의동구의동구의동구의동구의동구의동</div>
            </div>
        </div>
        <div class="user user--not-login">
            <div class="user__login-btn">로그인</div>
            <div class="user__sign-up-btn">가입</div>
        </div>
        <div class="user user--login">
            <div class="user__name">
                황병준
            </div>
        
            <div class="user__img">
                <img src="https://a5.behance.net/b30af4bb8b221c953db3e5940a5bceae7b07d62d/img/profile/no-image-115.png?cb=264615658">
            </div>
        </div>
        <button style="opacity: 0; cursor:pointer; border: none;">c</button>
    </header>
    <main>
        <div class="main-top">
            <div class="option">

            </div>
        </div>

        <div class="main-middle">
            <!-- 지도 -->
            <div class="map-wrapper">
                <div class="map">

                </div>
            </div>

            <!-- 매물 card -->
            <div class="card">
                <ul>
                    <li class="card-li">
                        <div class="card-text">
                            <p>월세</p>
                            <p>평수</p>
                            <p>주소(동까지)</p>
                            <p>매물 설명</p>
                        </div>
                        <div class="card-image">
                            <img src="https://ic.zigbang.com/ic/items/33724732/1.jpg?w=400&h=300&q=70&a=1" alt="">
                        </div>
                        
                    </li>
                    <li class="card-li"></li>
                    <li class="card-li"></li>
                    <li class="card-li"></li>
                    
                </ul>
            </div>

            <!-- 컨텍스트 메뉴 -->
            <div class="context-menu-wrapper" > 
                <ul class="context-menu"> 
                    <li class="context-menu__item">
                        <div class="context-menu_cover">
                            <p><i class="fa-solid fa-martini-glass"></i></p>
                        </div>
                    </li> 
                    <li class="context-menu__item">
                        <div class="context-menu_cover">
                            <p><i class="fa-solid fa-mug-saucer"></i></p>
                        </div>
                    </li> 
                    <li class="context-menu__item">
                        <div class="context-menu_cover">
                            <p><i class="fa-solid fa-heart"></i></p>
                        </div>
                    </li> 
                    <li class="context-menu__item">
                        <div class="context-menu_cover">
                            <p><i class="fa-solid fa-book"></i></p>
                        </div>
                    </li> 
                    <li class="context-menu__item">
                        <div class="context-menu_cover">
                            <p><i class="fa-solid fa-burger"></i></p>
                        </div>
                    </li> 
                    <li class="context-menu__item">
                        <div class="context-menu_cover">
                            <p><i class="fa-solid fa-basket-shopping"></i></p>
                        </div>
                    </li> 
                    <li class="context-menu__item">
                        <div class="context-menu_cover">
                            <p><i class="fa-solid fa-dumbbell"></i></p>
                        </div>
                    </li> 
                    <li class="context-menu__item">
                        <div class="context-menu_cover">
                            <p><i class="fa-solid fa-train-subway"></i></p>
                        </div>
                    </li> 
                </ul> 
            </div> 
        </div>
        
    </main>

   
</body>
</html>